* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
}

#word-art-container {
    position: relative;
    margin-bottom: 50px;
    background-image: url('./assets/heart.png');
    background-repeat: repeat;
    background-size: contain;

}

.cool-text {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    padding: 10px;
}
.container {
    margin: auto;
    padding: 0 1rem;
    max-width: 20rem;
    width: 100%;
}
.wordart {
    display: inline-block;



}
.wordart .preview {
    margin: 0 0 2rem;
    padding: 2rem;
    background-color: rgba(217, 217, 217, 0.53);
    border-radius: 20px;
}
h1 {
    font-size: 9vmin;
    white-space: nowrap;
    overflow: hidden;
}
section {
    position: relative;
}

section.style-one .wordart {
    transform: scale(1.05, 1.25);
}
section.style-one .wordart .preview {
    font-weight: 900;
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000;
}
section.style-two .wordart {
    transform: scaleY(1.65);
}
section.style-two .wordart .preview {
    font-weight: 900;
    color: #000;
    transform: rotate(-3deg) skewY(-10deg);
}
section.style-three .wordart {
    transform: scaleY(1.65);
}
section.style-three .wordart .preview {
    font-style: italic;
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow: 3px 2px 0 #999;
}
section.style-four .wordart .preview {
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: #369;
    text-shadow: 2px 1px 0 #c1c1c1;
}
section.style-five .wordart {
    transform: scaleY(1.25);
}
section.style-five .wordart .preview {
    font-weight: 900;
    color: #d8d8d8;
    -webkit-text-fill-color: #d8d8d8;
    -webkit-text-stroke: 1px #33c;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-five .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    color: #99f;
    -webkit-text-fill-color: #99f;
    -webkit-text-stroke: transparent;
    transform: translate(0.4vw, 0.25vw);
    mix-blend-mode: darken;
}
section.style-six .wordart {
    transform: scaleX(0.85) translateZ(0);
}
section.style-six .wordart .preview {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(#adadad, #fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0.25rem;
}
section.style-six .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 0.125em 0.125em #717171;
}
section.style-seven .wordart {
    transform: scaleY(1.25);
}
section.style-seven .wordart .preview {
    font-family: Impact, sans-serif;
    color: #06c;
    -webkit-text-fill-color: #06c;
    -webkit-text-stroke: 0.016em #9cf;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-seven .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 0.094em 0.078em #900;
}
section.style-eight .wordart {
    transform: scaleY(1.25);
}
section.style-eight .wordart .preview {
    font-family: Impact, sans-serif;
    color: transparent;
    background: radial-gradient(ellipse at center, #fff812, #ff9a32);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-eight .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 0.094em 0.063em #cdcdcd;
}
section.style-nine .wordart {
    transform: scale(0.9, 1.65) rotate(-3deg) skewY(-3deg) translateZ(0);
}
section.style-nine .wordart .preview {
    font-family: Impact, sans-serif;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(#6900cc, #cb00cc);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.016em #d2a2fe;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-nine .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    -webkit-text-stroke: transparent;
    text-shadow: 0.094em 0.063em #adadff;
}
section.style-ten .wordart {
    transform: scale(0.85, 1.25);
}
section.style-ten .wordart .preview {
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: #1a4b28;
    -webkit-text-fill-color: #1a4b28;
    -webkit-text-stroke: 1.5px #008000;
}
section.style-ten .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    font-size: 10vmin;
    color: #d2e5dc;
    -webkit-text-fill-color: #d2e5dc;
    -webkit-text-stroke: transparent;
    transform: translate(-2.5vmin, -4vmin);
}
section.style-eleven .wordart {
    transform: scaleY(1.65);
}
section.style-eleven .wordart .preview {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to left, #a104ad, #0b2be0, #329941, #f7f658, #f16412, #e92153, #aa04a7);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.016em #eaeaea;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0.1rem;
}
section.style-eleven .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    color: #cdcdcd;
    -webkit-text-fill-color: #cdcdcd;
    -webkit-text-stroke: transparent;
    transform: rotateX(63deg) skew(60deg) scaleY(0.65) translate3d(2em, -2.15em, -1em);
}
section.style-twelve .wordart .preview {
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: transparent;
    background: linear-gradient(#999cfc, #1b999c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-twelve .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 0.031em 0.031em #cdcdcd;
}
section.style-thirteen .wordart {
    transform: scale(0.65, 1.65);
}
section.style-thirteen .wordart .preview {
    font-weight: 900;
    color: #896640;
}
section.style-thirteen .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 1px 0 #1b0d00, 2px 0 #1b0d00, 3px 0 #1b0d00, 4px 0 #1b0d00, 5px 0 #1b0d00, 6px 0 #1b0d00, 7px 0 #1b0d00;
}
section.style-fourteen .wordart {
    transform: scale(0.85, 1.3) translateZ(0);
}
section.style-fourteen .wordart .preview {
    font-family: Times New Roman, serif;
    font-weight: 400;
    background: linear-gradient(#fffecb, #f99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: -0.1vw;
}
section.style-fourteen .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #002245, 0 -1px 0 #0050a0, -2px -1px 0.25px #002245, -1px -2px 0.25px #0050a0, -3px -2px 0.25px #002245, -2px -3px 0.25px #0050a0, -4px -3px 0.25px #002245, -3px -4px 0.25px #0050a0, -5px -4px 0px #002245, -4px -5px 0px #0050a0;
}
section.style-fifteen .wordart {
    transform: perspective(200px) rotateX(30deg) scaleY(1.65);
}
section.style-fifteen .wordart .preview {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(#551700, #fecb00);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b2b2b2;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0.1vw;
}
section.style-fifteen .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    color: #ab8d56;
    -webkit-text-fill-color: #ab8d56;
    -webkit-text-stroke: transparent;
    transform: perspective(250px) translateY(-0.643em) rotateX(70deg) scale(1) translateZ(-1em);
}
section.style-sixteen .wordart {
    transform: scale(0.8, 1.2);
}
section.style-sixteen .wordart .preview {
    font-family: Impact, sans-serif;
    font-weight: 900;
    color: #3cf;
    -webkit-text-stroke: 1.25px #009;
    text-shadow: 0.35rem -0.35rem 0 #009;
    letter-spacing: -0.15vw;
}
section.style-seventeen .wordart {
    transform: scale(1.05, 1.25);
}
section.style-seventeen .wordart .preview {
    font-weight: 900;
    color: transparent;
    background: repeating-linear-gradient(180deg, transparent, transparent 1px, #ff0 1px, #ff0 4px), repeating-linear-gradient(-50deg, #808080, #808080 5px, #ff0 5px, #ff0 8px);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-seventeen .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 3px 2px 0 #999;
}
section.style-eighteen .wordart {
    transform: scaleY(1.5) translateZ(0);
}
section.style-eighteen .wordart .preview {
    font-family: Times New Roman, serif;
    font-weight: 400;
    background: linear-gradient(#b6b6b6 0%, #5f5f5f 20%, #b1b1b1 30%, #fff 64%, #6c6c6c 65%, #373737 66%, #515151 67%, #787878 75%, #d2d2d2 80%, #d2d2d2 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-eighteen .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #4a4a4a, 0 -1px 0 #8b8b8b, -2px -1px 0.125px #4a4a4a, -1px -1px 0.125px #8b8b8b, -3px -2px 0.125px #4a4a4a, -2px -2px 0.125px #8b8b8b, -4px -3px 0.125px #4a4a4a, -3px -3px 0.125px #8b8b8b, -5px -4px 0.125px #4a4a4a, -4px -4px 0.125px #8b8b8b, -5px -5px 0 #4a4a4a, -5px -5px 0 #8b8b8b;
}
section.style-nineteen .wordart {
    transform: scale(0.65, 1.75);
}
section.style-nineteen .wordart .preview {
    font-weight: 900;
    color: #0f3a1a;
    transform: perspective(100px) rotateY(6deg) rotateZ(-7deg);
}
section.style-nineteen .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #000800, 0 -1px 0 #005600, -2px -1px 0.125px #000800, -1px -2px 0.125px #005600, -3px -2px 0.125px #000800, -2px -3px 0.125px #005600, -4px -3px 0.125px #000800, -3px -4px 0.125px #005600, -5px -4px 0.125px #000800, -4px -5px 0.125px #005600, -6px -5px 0.125px #000800, -5px -6px 0.125px #005600, -7px -6px 0 #000800;
}
section.style-twenty .wordart {
    transform: perspective(100px) rotateY(6deg) rotateZ(-3deg) skewY(15deg) scale(0.8, 1.25);
}
section.style-twenty .wordart .preview {
    font-family: Impact, sans-serif;
    color: transparent;
    background: linear-gradient(to left, #747474, #fff, #747474);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-twenty .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #72745b, 0 1px 0 #2c2d23, -2px 1px 0.5px #72745b, -1px 2px 0.5px #2c2d23, -3px 2px 0.5px #72745b, -2px 3px 0.5px #2c2d23, -4px 3px 0.5px #72745b, -3px 4px 0.5px #2c2d23, -5px 4px 0.5px #72745b, -4px 5px 0.5px #2c2d23, -6px 5px 0.5px #72745b, -5px 6px 0.5px #2c2d23, -7px 6px 0.5px #72745b, -6px 7px 0.5px #2c2d23, -8px 7px 0.5px #72745b, -7px 8px 0.5px #2c2d23, -9px 8px 0.5px #72745b, -8px 9px 0.5px #2c2d23, -10px 9px 0.5px #72745b, -9px 10px 0.5px #2c2d23, -11px 10px 0.5px #72745b, -10px 11px 0.5px #2c2d23, -12px 11px 0.5px #72745b, -11px 12px 0.5px #2c2d23, -13px 12px 0.5px #72745b, -12px 13px 0.5px #2c2d23, -14px 13px 0.5px #72745b, -13px 14px 0.5px #2c2d23, -15px 14px 0.5px #72745b, -14px 15px 0.5px #2c2d23, -16px 15px 0.5px #72745b, -15px 16px 0.5px #2c2d23, -17px 16px 0.5px #72745b, -16px 17px 0.5px #2c2d23, -18px 17px 0 #72745b, -17px 18px 0 #2c2d23;
}
section.style-twentyone .wordart {
    transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0);
}
section.style-twentyone .wordart .preview {
    font-family: Impact, sans-serif;
    color: transparent;
    background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
section.style-twentyone .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 1px 0 0 #813300, 0 1px 0 #c14d00, 2px 1px 0.35px #813300, 1px 2px 0.35px #c14d00, 3px 2px 0.35px #813300, 2px 3px 0.35px #c14d00, 4px 3px 0.35px #813300, 3px 4px 0.35px #c14d00, 5px 4px 0.35px #813300, 4px 5px 0.35px #c14d00, 6px 5px 0.35px #813300, 5px 6px 0.35px #c14d00, 7px 6px 0.35px #813300, 6px 7px 0.35px #c14d00;
}
section.style-twentytwo .wordart {
    transform: scale(0.75, 1.65) translateZ(0);
}
section.style-twentytwo .wordart .preview {
    font-weight: 900;
    background: linear-gradient(#ccdfec 0%, #7a97bc 20%, #8aacc6 30%, #fff 50%, #b8908f 51%, #80302d 52%, #b84d4a 55%, #e7cfc9 75%, #916e66 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: -0.2vw;
}
section.style-twentytwo .wordart .preview::before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 1px 0 0 #000, 0 1px 1px #a1a1a1, 2px 1px 1px #000, 1px 2px 1px #a1a1a1, 3px 2px 1px #000, 2px 3px 1px #a1a1a1, 4px 3px 1px #000, 3px 4px 1px #a1a1a1, 5px 4px 1px #000, 4px 5px 1px #a1a1a1, 6px 5px 1px #000, 5px 6px 1px #a1a1a1, 7px 6px 1px #000, 6px 7px 1px #a1a1a1, 8px 7px 1px #000, 7px 8px 1px #a1a1a1, 9px 8px 1px #000, 8px 9px 1px #a1a1a1, 10px 9px 0 #000;
}
textarea, select {
    position: relative;
    display: block;
    z-index: 1;
    font-family: inherit;
    font-size: 0.875rem;
    width: 100%;
    padding: 0.6rem 1rem;
    appearance: none;
    background: transparent;
    border: 1px solid #d1d1d1;
    box-shadow: none;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
textarea:focus, select:focus {
    outline: 0;
    border-color: #396fb9;
    box-shadow: 0 0 0 2px #b3cdf4;
}

textarea {
    height: 4rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
}


.button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -khtml-appearance: none;
    box-sizing: initial;
    border: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5rem auto;
    position: relative;
    width: 46px;
    height: 19px;
    padding: 31px 17px;
    border-radius: 10px;
    overflow: hidden;
    /* TEXT */
    text-align: center;
    font: bold 20px arial, sans-serif;
    color: #968f84;
    transition: box-shadow 0.02s cubic-bezier(0.79, 0.03, 0.43, 1);
    box-shadow: inset 0px 0px 0px 0px #44413c, 0px 0px 0px 1.5px #44413c,
      0px 16px 12px 0px #504d471f;
  }
  .button:active {
    transition: box-shadow 0.1s cubic-bezier(0, 0, 0, 1);
    box-shadow: inset 0px 0px 6px 0px #44413c, 0px 0px 0px 1.5px #44413c,
      0px 10px 12px 0px #504d471f;
  }
  .button:active::before {
    background: linear-gradient(0deg, #dddad3, #b6b0a2);
    transition: transform 0.1s cubic-bezier(0, 0, 0, 1),
      background 0.1s cubic-bezier(0, 0, 0, 1);
  }
  .button::before {
    left: 10px;
    top: 12px;
    border-radius: 7px;
    box-shadow: 0px -1px 0px 0px #dedcdc, 0px 2px 0px 0px #9a948c;
    content: "";
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    transition: transform 0.01s cubic-bezier(0.79, 0.03, 0.43, 1),
      background 0.02s cubic-bezier(0.79, 0.03, 0.43, 1);
    background: linear-gradient(0deg, #e3e0d9, #c4bfb4);
  }
  .button::after {
    left: 0;
    top: 0;
    z-index: -2;
    position: absolute;
    content: "";
    filter: blur(1px);
    border-top: 40px solid #e9e6e0;
    border-bottom: 42px solid #999286;
    border-left: 40px solid #cdc8be;
    border-right: 40px solid #cdc8be;
  }



        /*
            THE BASIC STYLES

            Below are the styles that control most of the visuals for this page. They are the best place to start 
            if you want to make the page your own. Try changing images, colours, fonts and text sizes to create your own look.
            
            You'll be amazed how different you can make this page look by only changing a few values.
            
            Some of the styles are explained here, some in other tutorials. Don't be afraid to change values, experimentation is one of
            the best ways to learn!
        */
        /* 
        body {
            font-family:Georgia;
            font-size:13px;
            line-height:1.5;
            color:#999999;
            background:url('http://farm2.staticflickr.com/1379/1347700125_671c3e035f_b.jpg') top center;
            background-size:cover;
        }
        */

        h1.logo {
            color:white;
            padding:4%;
            border-radius:50%;
            font-size:50px;
            font-style:italic;
            
            /* Shadow behind text */
            text-shadow: 1px 1px 2px #6f828f;
            filter: dropshadow(color=#6f828f, offx=1, offy=1);

        }
        
        
        h2.title {
            font-weight:normal;
            font-style:italic;
            color:white;
            line-height:26px;
            font-size:34px;
        }

        /* Intro */        
        .intro-block p {
            font-size:18px;
            font-style:italic;
            color:#595959;
            margin:40px 0;
        }
    
        /* Photo */
        .image {
            -webkit-box-shadow:  0px 0px 2px 4px rgba(0, 0, 0, 0.1);
                    box-shadow:  0px 0px 2px 4px rgba(0, 0, 0, 0.1);

                    
        }
        
        .image h2 {
            font-size: 16px;
        }
        .image img {
            background-size: cover;
            min-height:230px;
            max-height:230px;
            border-left:10px solid white;
            border-right:10px solid white;
            border-top:10px solid white;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
        }
        
        .zoom-on-hover {
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
        }
        .zoom-on-hover:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
        
        /* Rotate the images */
        .rotate-right {
            -moz-transform:rotate(2deg);
            -webkit-transform: rotate(2deg);
            -o-transform:rotate(2deg);
            -ms-transform:rotate(2deg);
            transform:rotate(2deg);
       }
       .rotate-left {
            -moz-transform:rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -o-transform:rotate(-2deg);
            -ms-transform:rotate(-2deg);
            transform:rotate(-2deg);
       }
       
        .caption {
            color:#999999;
            background: white;
            font-style:italic;
        }
        .caption h2 {
            font-size:20px;
        }
            
        /* Footer */
        .footer-wrap {
            margin: 0 2%;
            padding: 30px 0 50px 0;
            border-top: 1px solid white;
            color: white;
            
            /* Shadow behind text */
            text-shadow: 1px 1px 1px #6f828f;
            filter: dropshadow(color=#6f828f, offx=1, offy=1);
        }
        footer a {
            color: white;
        }
        footer small {
            font-size: 12px;
        }
        /*
            ARE YOU FEELING AMBITIOUS?

            The CSS below controls all the advanced aspects of the page and its design.
            You're not expected to edit it but you are free to have a play. An ace
            reference resource to help you understand it can me found here:

            https://developer.mozilla.org/en-US/docs/Web/CSS
        
            Be aware though, you can break your page quite easily with this part of CSS.

        */
        body, html {
            margin: 0;
            padding: 0
        }
        a {
            color: #000000;
        }
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 18px;
        }
        h4 {
            font-size: 16px;
        }
        ul {
            margin-left: 0;
            padding-left: 1em;
            line-height: 1.5em;
        }
        hr {
            clear: both;
        }
    
        /* Layout */
        footer, .wrapper {
            width: 80%;
            max-width: 708px;
            min-width: 550px;
            margin: 0 auto;
        }
        section {
            width: 100%;
        }
    
        /* Header */
        header {
            padding: 30px 0;
            text-align: left;
        }
        header h1.logo {
            display: inline-block;
            margin: 0;
        }
        header h2.title {
            display: inline-block;
            float: right;
            padding: 4%;
        }
    
        /* Footer */
        footer {
            text-align: center;
        }
        .footer-wrap {
            margin: 0 2%;
            padding: 30px 0 50px 0;
        }
    
        /* Grids */
        ul.grid {
            margin: 20px 0;
            padding: 0;
            list-style: none;
        }
        ul.grid li {
            position: relative;
            margin: 3% 2%;
        }
        ul.grid li:last-child {
            margin: 0 2%;
        }
        ul.grid li a {
            display: block;
            cursor: pointer;
            text-decoration: none;
        }
        ul.grid.half-width li {
            width: 46%;
            margin: 2%;
            float: left;
        }
        ul.third-width li {
            width:29.3%;
            margin:0 2% 2%;
            float:left;
        }
        
        /* Photo */
        .image {
            z-index: 2;
            position: relative;
            overflow: hidden;
        }
        .image img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
        }
        .image h2 {
            margin: 0;
        }
        
        /* Caption */
        .caption {
            margin: 0;
            padding: 20px;
            width: 100%;
            display: block;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
        }
        
        /* Column */
        .column {
            width:96%;
            margin:2%;
            float:none;
            clear:both;
        }
    
        /* Group / Clear floating */
        .group:after {
            visibility: hidden;
            display: block;
            content: "";
            clear: both;
            height: 0;
        }


        